@page "/"

@CurrentText

<button type="button" @onclick="InitialiseGame">Create Game</button>

<div id="GameWindow">
    <table>
        @for (int row=0; row<gameSizeHeight; row++)
        {
            <tr class="row">
                @for (int column=0; column<gameSizeWidth; column++)
                {
                    int i = column;
                    int j = row;

                    <td class="tableCell" style="@SquareBackgroundColor(squareList[i,j])" @onclick="(() => CellClicked(i, j))"> @squareList[i,j].GetSquareValue()</td>
                }
            </tr>
        }
    </table>

</div>



@code{
    GameMaster GM = new GameMaster();
    private string CurrentText = "Hello World";
    private int gameSizeHeight;
    private int gameSizeWidth;
    private Square[,]? squareList;


    private void InitialiseGame()
    {

        GM.CreateGame();

        gameSizeHeight = GM.GetGameSize()[0];
        gameSizeWidth = GM.GetGameSize()[1];
        squareList = GM.GetSquareList();
    }


    private string SquareBackgroundColor(Square square)
    {
        if (square.revealed) { return "background-color: lightblue"; }
        if (!square.clear) { return "background-color: red"; }
        if (square.nearbyMines == 0) { return ""; }
        if (square.nearbyMines == 1) { return "background-color: rgb(77, 247, 114)"; }
        if (square.nearbyMines == 2) { return "background-color: rgb(242, 245, 73)"; }
        if (square.nearbyMines == 3) { return "background-color: rgb(242, 154, 31)"; }
        else return "background-color: rgb(252, 89, 71)";
    }

    private void CellClicked(int column, int row) => GM.RevealSquare(column, row);
}